@import "./homeVariables"; 

header.scrolled{
    background-color: $secondaryColor;
    transition: .5s ease-in-out;
}

*,
*::before, 
*::after {
    box-sizing : border-box;
    padding : 0;
    margin : 0;
    outline : none;
    transition : .1s ease-in-out;
}

html {
    font-family: $primaryFont;
    font-size: 100%;

    @include responsive(tablet-landscape){
        font-size: 95%;
    }

    @include responsive(tablet-port){
        font-size: 90%;
    }

    @include responsive(phone){
        font-size: 80%;
    }

    @include responsive(desktop){
        font-size: 105%;
    }
}