
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

//font
$primaryFont: 'Karla', sans-serif;

//font-sizes
$Heading1 : 8rem; 
$Heading2 : 3.603rem;
$Heading3 : 1.938rem;
$Heading4 : .55rem;

//font-weights
$font-weight : (
    "regular" : 500, 
    "medium" : 600,
    "large" : 700
);

//color-palettes
$primaryColor : #ffffff;
$secondaryColor : #7C3E66;
$thirdColor : #243A73;
$fourthColor : #F3E8E8;
$fifthColor : #A5BECC;

