
    <%- include('../public/partials/header.ejs'); %>
<body>
    
    <%- include('../public/partials/nav.ejs'); %>

    <section id="about-content">
        <div class="container">
            <h2 class="container__about-heading text-center my-5">
                ACADEMIC PERSONNEL
            </h2>
        </div>
    </section>

    <section id="about-description">
        <div class="container">
            <p class="container__about-description text-center my-5">
                The faculty at Starbook Academy is committed to the tripartite mission of teaching, scholarship and service. 
                Each faculty member is responsible for the quality and content of instruction in the classroom. 
                The instructor should at all times strive to promote the general purposes of the University and to achieve the objectives of the College. 
            </p>
        </div>
    </section>

    <section id="about-faculty">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <img class="container__faculty" src="img/faculty1.png" alt="head">
                    <h2 class="container__name-img text-center">Anne Hurray</h2> 
                    <h3 class="text-center">Professor</h3>
                    <p class="text-center">English</p>
                </div>
                <div class="col-xl-4 col-md-4">
                    <img class="container__faculty" src="img/faculty2.png" alt="head">
                    <h2 class="container__name-img text-center">Sol Maine</h2> 
                    <h3 class="text-center">Professor</h3>
                    <p class="text-center">Science</p>
                </div>
                <div class="col-xl-4 col-md-4">
                    <img class="container__faculty" src="img/faculty3.png" alt="head">
                    <h2 class="container__name-img text-center">Michael Smith</h2> 
                    <h3 class="text-center">Professor</h3>
                    <p class="text-center">Physics</p>
                </div>
            </div>
            <div class="row pb-5">
                <div class="col-xl-4 col-md-4">
                    <img class="container__faculty" src="img/faculty4.png" alt="head">
                    <h2 class="container__name-img text-center">Greg Humann</h2> 
                    <h3 class="text-center">Professor</h3>
                    <p class="text-center">Math</p>
                </div>
                <div class="col-xl-4 col-md-4">
                    <img class="container__faculty" src="img/faculty5.png" alt="head">
                    <h2 class="container__name-img text-center">Chris Jones</h2> 
                    <h3 class="text-center">Professor</h3>
                    <p class="text-center">Geology</p>
                </div>
                <div class="col-xl-4 col-md-4">
                    <img class="container__faculty" src="img/faculty6.png" alt="head">
                    <h2 class="container__name-img text-center">Claire Anderson</h2> 
                    <h3 class="text-center">Professor</h3>
                    <p class="text-center">Literature</p>
                </div>
            </div>
        </div>
    </section>

    <%- include('../public/partials/footer.ejs'); %>