<header class="navbar navbar-expand-lg fixed-top" id="header">
    <a class="navbar__navbar-brand navbar-brand ml-3" href="/home">
        <img class="navbar__nav-logo nav-logo" src="img/logo.png" alt="logo">
    </a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" aria-expand="false" aria-label="Toggle navigation" data-target="#exnavbar" aria-control="exnavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar__collapse collapse navbar-collapse pr-5 ml-4" id="exnavbar">
        <ul class="navbar__nav-list navbar-nav ml-auto">
            <li class="nav-item"><a href="/home" class="navbar__link nav-link"> Home </a></li>
            <li class="nav-item"><a href="/about " class="navbar__link nav-link"> About </a></li>
            <li class="nav-item"><a class="navbar__button" href="/login">LOGIN </a></li>
        </ul>
    </div>
</header>